@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-fonts {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
* {
	margin: 0px;
}
/* ----------------------- */
/* shared design */
* {
	font-family: "Inter", serif;
	color: white;
}
body {
	background-color: #000;
}
.container {
	width: 73.6%;
	margin-left: auto;
	margin-right: auto;
}

.btn-primary {
	background: #e6533c;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: #fff;
	border: none;
	cursor: pointer;
}

/* ------------------------------- */
/* navbar design */
.nav-layout {
	margin-top: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-1 h3 {
	color: #e6533c;
	font-size: 36px;
	font-style: italic;
	font-weight: 800;
}

.navbar-2 ul {
	display: flex;
	align-items: center;
	gap: 3rem;
	font-size: 1.2rem;
	font-weight: 400;
	list-style: none;
}
.navbar-2 li > a {
	text-decoration: none;
	color: #fff;
}
.navbar-2 button {
	padding: 8px 20px;
	border-radius: 46px;
	font-weight: 600;
}

/* hero section */
.hero-container {
	background-image: linear-gradient(
		180deg,
		#111 0%,
		rgba(119, 119, 119, 0) 100%
	);
}
.banner-hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-text-container h1 {
	width: 70%;
	font-size: 78px;
	font-weight: 900;
	line-height: 120%;
	margin-bottom: 1.75rem;
}
.hero-curve-heading {
	font-family: "Miama", serif;
	font-weight: 400;
}
.hero-para {
	width: 80%;
	color: white;
	opacity: 50%;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-bottom: 1.75rem;
}
#btn-hero1,
#btn-hero2 {
	padding: 16px 40px;
	border-radius: 42px;
}

#btn-hero2 {
	background: none;
	border: 1px solid white;
	margin-left: 1rem;
}
