@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-fonts {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
* {
	margin: 0px;
}
::selection {
	background-color: #691e70;
}

/* ----------------------- */
/* shared design */
* {
	font-family: "Inter", serif;
	color: white;
}
body {
	background-color: #000;
}
.container {
	width: 73.6%;
	margin-left: auto;
	margin-right: auto;
}

.btn-primary {
	background: #e6533c;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: #fff;
	border: none;
	cursor: pointer;
}
p {
	color: rgba(255, 255, 255, 0.5);
}
.section-heading {
	font-size: 48px;
	font-weight: 900;
	line-height: 120%;
}
.section-para {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
}

/* ------------------------------- */
/* navbar design */
.nav-layout {
	margin-top: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-1 h3 {
	color: #e6533c;
	font-size: 36px;
	font-style: italic;
	font-weight: 800;
}

.navbar-2 ul {
	display: flex;
	align-items: center;
	gap: 3rem;
	font-size: 1.2rem;
	font-weight: 400;
	list-style: none;
}
.navbar-2 li > a {
	text-decoration: none;
	color: #fff;
}
.navbar-2 button {
	padding: 8px 20px;
	border-radius: 46px;
	font-weight: 600;
}

/* hero section */
.hero-container {
	background-image: linear-gradient(
		180deg,
		#111 0%,
		rgba(119, 119, 119, 0) 100%
	);
}
.banner-hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-text-container h1 {
	width: 70%;
	font-size: 78px;
	font-weight: 900;
	line-height: 120%;
	margin-bottom: 1.75rem;
}
.hero-curve-heading {
	font-family: "Miama", serif;
	font-weight: 300;
	font-size: 120px;
}
.hero-para {
	width: 80%;
	color: white;
	opacity: 50%;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-bottom: 1.75rem;
}
#btn-hero1,
#btn-hero2 {
	padding: 16px 40px;
	border-radius: 42px;
}

#btn-hero2 {
	background: none;
	border: 1px solid white;
	margin-left: 1rem;
}
#btn-hero2:hover {
	background-color: #e6533c;
}
#btn-hero2:hover {
	transition: background-color 1.3s;
}

/* hero info card and image design */
.hero-image-container img {
	position: relative;
}
#hero-info-card-1,
#hero-info-card-2 {
	width: 198px;
	height: 98px;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	position: absolute;
}
#hero-info-card-1 {
	width: 174px;
	padding-left: 1.5rem;
	top: 230px;
	right: 100px;
}
#hero-info-card-1 h1 {
	font-size: 40px;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 1px;
	margin-top: 17px;
}
#hero-info-card-1 p {
	font-size: 13px;
	opacity: 95%;
}
#hero-info-card-2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	bottom: 170px;
	left: -110px;
}
.red-circle {
	background-color: #e6533c;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#hero-info-card-2 h1 {
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0.3px;
}
/* --------------------------- */
/* change your habit section  */
.change-habit-heading,
.change-habit-para {
	text-align: center;
	margin-bottom: 0.75rem;
}
.change-habit-card-container {
	display: flex;
	justify-content: space-between;
	margin-top: 3.5rem;
}

.change-habit-card img {
	border-radius: 50%;
}
.change-habit-card {
	text-align: center;
}
.change-habit-card h3 {
	margin-top: 1.75rem;
	margin-bottom: 0.5rem;
}
/* ------------------------- */
/* extras mile section */

.extra-mile-section {
	display: flex;
	justify-content: space-between;
	gap: 10.3rem;
	padding: 30px 34px 30px 54px;
	background-color: #222;
	margin-top: 6.25rem;
	margin-bottom: 6.25rem;
	border: none;
	border-radius: 1.25rem;
	box-sizing: border-box;
}
.run-extra-mile-text {
	width: 70%;
}
.run-extra-mile-text button {
	padding: 1rem 2.5rem;
	border-radius: 2.625rem;
	margin-top: 1.85rem;
}

.run-extra-mile-image img {
	width: 100%;
	height: 100%;
	border-radius: 2.625rem;
}
/* ---------------------------------- */
/* training and exercise section */

/* ----------------------------------- */
/* BMI calculator */
.BMI-heading-container {
	margin-top: 5.5rem;
	margin-bottom: 5.5rem;
}
.BMI-heading,
.BMI-para {
	width: 50%;
	margin: 0rem auto;
}

.BMI-chart {
	height: 100%;
	background-color: #222;
}
table,
td,
th {
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-collapse: collapse;
}
.bmi-table td {
	color: rgba(255, 255, 255, 0.5);
	font-size: 13 px;
	font-weight: 400;
	line-height: 120%;
}
.BMI-chart {
	display: flex;
	align-items: center;
}
.BMI-chart-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10rem;
}
.calculate-BMI-2 {
	width: 60%;
	margin-top: 3rem;
}
.input-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.input-container input,
.input-container select {
	width: 282px;
	height: 48px;
	box-sizing: border-box;
	padding: 12px 40px 12px 20px;
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
}
.input-container input::placeholder {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.input-container select {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.3);
}
#activity-factor {
	width: 587px;
	grid-column: 1 / 3;
}
.calculate-BMI-2 button {
	padding: 12px 40px;
	border-radius: 40px;
	margin-bottom: 3.25rem;
}
/* --------------------------- */
/* Our team section */
.team-section-heading {
	text-align: center;
	margin-top: 5.5rem;
	margin-bottom: 3.5rem;
}
.team-section-heading P {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.images-team {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-around;
	gap: 20px;
	padding: 20px;
	background-color: #222;
	border: none;
	border-radius: 1.2rem;
}
#trainer-image-card-1 {
	background-image: url("../images/trainer1.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#trainer-image-card-2 {
	background-image: url("../images/trainer2.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#trainer-image-card-3 {
	background-image: url("../images/trainer3.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#trainer-image-card-4 {
	background-image: url("../images/trainer4.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#trainer-image-card-5 {
	background-image: url("../images/trainer5.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#trainer-image-card-6 {
	background-image: url("../images/trainer6.png");
	width: 100%;
	height: 272px;
	border-radius: 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.images-team h3,
.images-team p {
	position: relative;
	top: 190px;
	left: 20px;
}
.images-team p {
	color: rgba(255, 255, 255, 0.7);
}

/* ------------------------------- */
/* bonus section */
.bonus-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10.3rem;
	padding: 30px 34px 30px 54px;
	background-color: #222;
	margin-top: 6.25rem;
	margin-bottom: 6.25rem;
	border: none;
	border-radius: 1.25rem;
	box-sizing: border-box;
	background-image: linear-gradient(
			to bottom,
			rgba(18, 18, 19, 0.52),
			rgba(3, 3, 3, 0.73)
		),
		url(../images/exercise2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bonus-text {
	width: 50%;
}
#bonus-para {
	color: #e6533c;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: underline;
}
.bonus-input-container input {
	width: 382px;
	height: 48px;
	box-sizing: border-box;
	margin-bottom: 2rem;
	padding: 12px 40px 12px 20px;
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.3);
}
.bonus-input-container input::placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.25rem;
}
.bonus-input button {
	width: 382px;
	padding: 1rem 2.5rem;
	font-size: 1.5rem;
	border-radius: 2.5rem;
}
/* ---------------------------------- */
/* footer section design */
.footer-section {
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 5.5rem;
	height: 490px;
	padding-top: 4.5rem;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 100px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.foot-1 {
	width: 40%;
}
.foot-1 h3 {
	color: #e6533c;
	font-size: 70px;
	font-style: italic;
	font-weight: 800;
}
.foot-2 {
	display: flex;
	gap: 3rem;
}

.foot-2 ul {
	list-style: none;
}
.foot-2 a {
	text-decoration: none;
	line-height: 40px;
	font-size: 1.25rem;
	color: rgba(255, 255, 255, 0.5);
}
.foot-2 a:hover {
	background-color: #e6533c;
	color: #fff;
	font-weight: 700;
	padding: 5px 5px;
}
#copyright-footer {
	margin-top: 2.5rem;
	text-align: center;
}
